<!DOCTYPE html>

<html>
    
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait"src="/img/pic.png">
        <p>This site was created by Jad Isaac. It uses data from mapbox and weatherstack</p>
    </div>

    {{>footer}}

</body>

</html>